main {
  width: 80%;
  margin: 6% auto;
  margin-top: 5%;
}

main h2 {
  color: var(--bleu);
}

main h3 {
  color: var(--bleu-secondaire);
}

.article {
  margin-left: 3%;
}

/* like and dislike button */
